.App {
  text-align: center;
}

.App-header {
  background-color: #539fd1;
  height: 25px;
  padding: 30px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
}

.bold_txt{
  font-weight: bold;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 4px;
}

li {
  list-style-type: none;

}

.hideLi{
  display: none;
}

a.answerselect:hover {
  background-color: grey;
}